table, th, td {
    /* border: 1px solid; */
    height: 800%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: rgb(186, 225, 223);
    
  }

  table {
    width: 100%;

  }
